doctype html

head
  title reg page
  style
    include ../css/temp.css
  script(src='https://code.jquery.com/jquery-3.1.1.min.js' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' crossorigin='anonymous')
  script(src='../script/adduser.js')
     
  
  

  
  
  
    


body
  
  p#reg-header
    h1 Sign Up Page
  form#reg-form(method='post')
    h3 Username:
    input#username(type='text' require='true' name='name')
    br
    h3 Password:
    input#password(type='password' name='password' )
    br
    h3 Email:
    input#email(type='text' )
    br
    br
    br
    br
    input#reg-button(type='submit', value='sign up' name='reg-button')
    br
    br
    a#login(href='./login') alread have an account?
  p(id='message' class='message')
