doctype html

head
  title Login page
  style
    include ../css/temp.css


body
  
  p#login-header
    h1 Login Page
  form#login-form(method='post')
    h3 Username:
    input#username(type='text' name='username')
    br
    h3 Password:
    input#password(type='password' name='password')
    br
    br
    input#login-button(type='submit', value='login' name='login-button')
    br
    br
    a#sign_up(href='./adduser') Sign up here..
    
  p(id='message' class='message')


  script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
  script(type='text/javascript', src='../script/login.js')
