doctype html

head
  title reg page
  style
    include ../css/temp.css
  script(src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous")
    


  



body
  
  p#verify-header
    h1 Verify you account...
  form(method='post' id='verify-form')
    h3 Email:
    input(type='text' size='50' name='email' id='email' value=email)
    br
    h3 Key:
    input(type='text' size='50' name='key' id='key')
    br
    br
    br
    input(type='submit', value='Verify' name='verify-button' id='verify-button')
    br
    
    
  p#message=message 
  p#error=error
  script(src='../script/verify.js')
